.col-xs-12,
.col-xs-3 {
    padding-left: 0px;
    padding-right: 0px;
}

.povio-list-item {
    min-height: 44px;
    height: 100px;
    box-shadow: inset 0px 9px 8px -10px #8F929D;
    background-color: #F2F2F2
}

.povio-list-item:last-child {
    box-shadow: inset 0px 9px 8px -10px #8F929D, inset 0px -9px 8px -10px #8F929D;
}

.povio-img-thumb {
    width: 90px;
    height: 100% !important;
    border: 1px solid black;
}

.form-group {
    margin-bottom: 0
}

.form-control {
    border-radius: 0;
}

.list-group-item:first-child {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.vcenter {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.details {
    background-color: #F2F2F2;   
    padding: 15px;
}